.container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin-top: 20%
}

.activation-message,
.activation-error {
    text-align: center;
}

.activation-error {
    color: red;
}